footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5rem 7rem;
}

.logo{
    font-weight: 700;
    font-size: 24px;
}

.footer-title{
    font-size: 20px;
    font-weight: 400;
}

.footer-text{
    font-weight: 300;
}

.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-input{
    position: relative;
    width: fit-content;
}

.send-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-input input{
    outline: none;
    border: none;
    padding: 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
}

.footer-input input::placeholder{
    color: grey;
}

img{
    width: 10vw;
    height: 10vh;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 2rem;
}


@media (max-width: 1348px) {
    footer{
        flex-direction: column;
        align-items: center;
        padding: 7rem 1rem;
        height: 150vh;
    }
    .footer-part{
        align-items: center;
    }
    .footer-part:first-child{
        gap: 10px;
    }
    .footer-title{
        margin-bottom: 10px;
    }
    img{
        width: 100%;
        height: 13.5vh;
        object-fit: cover;
    }
}