<footer>
    <section class="footer-part">
        <div class="logo">Exclusive</div>
        <p class="footer-title">Subscribe</p>
        <p class="footer-text">Get 10% off your first order</p>
        <div class="footer-input">
            <input type="text" placeholder="Enter your email">
            <lucide-icon [img]="SendIcon" class="send-icon" size="20"></lucide-icon>
        </div>
    </section>
    <section class="footer-part">
        <p class="footer-title">Support</p>
        <p class="footer-text">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
        <p class="footer-text">exclusive@gmail.com</p>
        <p class="footer-text">+88015-88888-9999</p>
    </section>
    <section class="footer-part">
        <p class="footer-title">Account</p>
        <p class="footer-text">My Account</p>
        <p class="footer-text">Login / Register</p>
        <p class="footer-text">Cart</p>
        <p class="footer-text">Wishlist</p>
        <p class="footer-text">Shop</p>
    </section>
    <section class="footer-part">
        <p class="footer-title">Quick Link</p>
        <p class="footer-text">Privacy Policy</p>
        <p class="footer-text">Terms Of Use</p>
        <p class="footer-text">FAQ</p>
        <p class="footer-text">Contact</p>
    </section>
    <section class="footer-part">
        <p class="footer-title">Download App</p>
        <p class="footer-text-sm">Save $3 with App New User Only</p>
        <img src="/download.png" alt="">
        <div class="icons">
            <lucide-icon [img]="FacebookIcon"  size="20"></lucide-icon>
            <lucide-icon [img]="TwitterIcon" size="20"></lucide-icon>
            <lucide-icon [img]="InstagramIcon" size="20"></lucide-icon>
            <lucide-icon [img]="Linkedin" size="20"></lucide-icon>
        </div>
    </section>
</footer>