.column {
  flex-direction: column;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid rgba(128, 128, 128, 0.378);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: red;
}

.white{
    color: white;
}
