h1{
    padding: 1rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "first first second second"
    "first first third fourth "
    ;
    gap: 1rem;
    padding: 1rem;
    height: 70vh;
}

.card{
    background-color: black;
    background-image: url("/playsation.png");
    color: white;
    display: flex;
    align-items: end;
    padding: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    width: 50%;
}

p{
    font-weight: 300;
    margin: 5px 0px;
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem);
}

h3{
    font-weight: 600;
}

h4{
    font-weight: 400;
    position: relative;
    display: inline;
    user-select: none;
    cursor: pointer;
}

h4::before{
    transition: 300ms;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.529);
    position: absolute;
    left: 0;
    bottom: -5px;

}

.card:nth-child(2){
    background-image: url("/women.png");
    background-position: right;
}

.card:nth-child(3){
    background-image: url("/speaker.png");
    background-position: center center;
    background-size: 50%;
}
.card:nth-child(4){
    background-image: url("/perfum.png");
    background-position: center center;
    background-size: 50%;
}

h4:hover::before{
    background-color: white;
}

@media (max-width: 950px) {
    .cards{
        grid-template-areas: 
        "first first"
        "first first"
        "second second"
        "third fourth"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .content{
        width: 100%;
    }
}