p{
    color: red;
}
.title{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    
}
.shape{
    height: 40px;
    width: 20px;
    background-color: red;
    border-radius: 5px;
    margin-right: 10px;
}

