<div class="card">
  <div class="img-container">
    <img
    draggable="false"
      src="{{product().images[0]}}"
      alt=""
    />
    <div class="add-cart" (click)="handleAddToCart()">
      <lucide-icon strokeWidth="1" [img]="cart" size="20" class="menu-icon"></lucide-icon>
      <p>Add to cart</p>
    </div>
  </div>
  <p class="title" [routerLink]="['/product', product().id]" [title]="product().title">{{product().title.substring(0, 48).concat('...')}}</p>
  <div class="price">{{product().price}}</div>
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <div class="discount">
    <p>- 40%</p>
  </div>
  <div class="options">
    <div class="option">
        <lucide-icon [img]="heart" size="20" class="menu-icon"></lucide-icon>
    </div>
    <div class="option">
        <lucide-icon [img]="eye" size="20" class="menu-icon"></lucide-icon>
    </div>
  </div>
</div>
