.card {
  width: 15vw;
  height: 40vh;
  position: relative;
}

.img-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.add-cart{
  position: absolute;
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.7rem;
  bottom: 0;
  transform: translateY(45px);
  transition: 300ms;
  cursor: pointer;
}

.card:hover .add-cart{
  transform: translateY(0px);
}

.add-cart p {
  font-weight: 300;
}

img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}
.title {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.price{
    color: red;
    font-size: 15px;
}

.price::before{
    content: "$";
}

.star {
  width: 15px;
  height: 15px;
  background-color: #FFAD33;

  clip-path: polygon(
    50% 0%,       /* top point */
    61% 35%,      /* right upper */
    98% 35%,      /* rightmost */
    68% 57%,      /* right lower */
    79% 91%,      /* bottom right */
    50% 70%,      /* bottom center */
    21% 91%,      /* bottom left */
    32% 57%,      /* left lower */
    2% 35%,       /* leftmost */
    39% 35%       /* left upper */
  );
}

.stars {
  display: flex;
  gap: 2px;
}

.discount{
    background-color: red;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

.options{
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option{
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon{
  width: 20px;
  height: 20px;
  /* background-color: #ff0000; */
  fill: red;
  stroke: red;
}

@media (max-width: 1130px) {
  .card{
    width: min(50vw, 250px);
  }
}