.card {
  width: 30vh;
  height: 40vh;
  /* background-color: red; */
  position: relative;
}

.img-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}
.title {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.price{
    color: red;
    font-size: 15px;
}

.price::before{
    content: "$";
}

.star {
  width: 15px;
  height: 15px;
  background-color: #FFAD33;

  clip-path: polygon(
    50% 0%,       /* top point */
    61% 35%,      /* right upper */
    98% 35%,      /* rightmost */
    68% 57%,      /* right lower */
    79% 91%,      /* bottom right */
    50% 70%,      /* bottom center */
    21% 91%,      /* bottom left */
    32% 57%,      /* left lower */
    2% 35%,       /* leftmost */
    39% 35%       /* left upper */
  );
}

.stars {
  display: flex;
  gap: 2px;
}

.discount{
    background-color: red;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

.options{
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option{
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}