main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0px;
}
img{
    width: 50vw;
    height: 100vh;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.form-top{
    display: flex;
    flex-direction: column;
}

.form-top h1{
    font-size: 2.6rem;
    font-weight: 400;
}

.form-top p{
    margin-top: 1rem;
}

.inputs{
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.inputs input{
    padding: 1rem 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.432);
}

.form-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}

.form-bottom button{
    transition: all 0.3s ease-in-out;
    border: none;
    color: white;
    padding: 1rem 2.8rem;
    border-radius: 5px;
}

.form-bottom p{
    color: #db4444;
}

.error {
    background-color: rgba(186, 71, 71, 0.324);
    color: red;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 10px;
}
.error p {
    padding: 0;
    margin: 0;
}

.menu-icon{
    height: 20px;
}

.disabled{
    cursor: not-allowed;
    background-color: grey;
}
.enabled{
    cursor: pointer;
    background-color: #db4444;
}
@media (max-width: 1201px) {
    img{
        display: none;
    }
    main{
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .form-bottom{
        width: 100%;
        justify-content: space-around;
    }
}