main {
  height: calc(100vh - 200px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: clamp(50px, 10vw, 8rem);
}
p{
    margin: 2rem 0;
}
/* max 10 rem */
/* mid 5vw */