.cart-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 20px -10px rgba(128, 128, 128, 0.389);
    margin: 2rem 0px;
}

.product{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 40%;
}

img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

input{
    width: 50px;
    height: 40px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.422);
    border-radius: 5px;
    padding: 5px;
}

.sub-total::before , .price::before{
    content: "$";
}

p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}