section{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

input{
    padding: 0.6rem;
    border-radius: 3px;
    width: 280px;
    outline: none;
    border: 1px solid black;
    margin-right: 0.5rem;
}

.total{
    border: 2px solid black;
    width: 400px;
    padding: 1rem;
}

.title{
    font-weight: 500;
}

.field{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.price::before{
    content: "$";
}

.line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 1rem 0px;
}

@media (max-width: 974px) {
    section{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .coupon{
        display: flex;
        height: 40px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .total{
        margin-top: 2rem;
        width: clamp(200px, 90vw, 500px);
    }
}